.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        min-width: 750px;
        margin: 0 auto;
    }
    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        img {
            width: 31px;
            height: 50px;
        }
    }
}