.catalog {
    padding-bottom: 100px;
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #D0D0D0;
        color: #6B6B6B;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        text-align: center;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none
        }
    }
    &__content {
        margin-top: 60px;
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            color: #0D0D0D;
            text-align: center;
        }
        &__descr {
            margin-top: 16px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 17px;
            color: $main-color;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration: underline;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            background-color: #E8E8E8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555555;
            font-weight: 300;
            font-size: 14px;
            text-decoration: line-through;
        }
        &__price {
            color: #050505;
            font-weight: 700;
            font-size: 20px;
        }
    }
}