.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
<<<<<<< HEAD
    background: url("../../img/consultation.jpg") center (center/cover) no-repeat;
=======
    background: url('../../img/consultation.jpg') center (center/cover) no-repeat;
>>>>>>> main
    &__descr {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
}